.backdrop-div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.newBlogForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.newBlogForm::backdrop {
  /* this pseudo-element could be used to blur, darken, or otherwise obfuscate the inert content behind the modal dialog */
}

dialog {
  width: 90%;
  max-width: 70%;
  background-color: dodgerblue;
  border-radius: 6px;
  border: none;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  padding: 1rem;
  top: 20rem;
}

#actions {
  /* display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-grow: 4; */
}

input,
textarea,
select {
  width: 100%;
  font: inherit;
  padding: 0.15rem 0.25rem;
  border-radius: 4px;
  border: 1px darkblue;
  /* background-color: #d0c2e1; */
}

/* todo: finish styling */
