form {
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 2px;
  background: linear-gradient(180deg, #014f86, #015cbb);
  /* background: var(--mat-sys-on-surface); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-group {
  align-items: center;
  text-align: center;
  display: grid;
  justify-content: space-evenly;
  gap: 0.5rem;
}

/* .input-group div {
  align-self: center;
  align-content: center;
} */

label {
  text-align: center;
  font-weight: 100;
  font-size: 1rem;
  color: whitesmoke;
  display: block;
  font-weight: bold;
  padding-bottom: 0;
}

button {
  width: 100%;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.5rem;
  background-color: goldenrod;
}

button:hover {
  background-color: #aaf1d6;
}

input {
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px #aaf1d6;
}
