form {
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: 2rem auto;
  border-radius: 2px;
  background: linear-gradient(180deg, #307e6c, #2b996d);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.input-group {
  align-items: center;
  text-align: center;
  display: grid;
  justify-content: space-evenly;
  gap: 1.5rem;
}

.input-group div {
  align-self: center;
  align-content: center;
}

label {
  text-align: center;
  font-weight: 100;
  font-size: 1rem;
  color: darkblue;
  display: block;
}

button {
  width: 100%;
}

button:hover {
  background-color: #aaf1d6;
}
