.content-card {
  max-width: 400px;
  font-family: Roboto, sans-serif;
  margin: 5px auto 5px auto;
}

.content-card-footer {
  display: flex;
  justify-content: space-between;
}

.content-card-footer-votes {
  align-self: flex-start;
}

.content-card-footer-actions {
  align-self: flex-end;
}

.comment-card {
  background-color: forestgreen;
}

.comment-card-title {
  font-size: medium;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: italic;
}

.blog-card-title {
  font-family: Roboto, sans-serif;
  font-size: x-large;
}

.blog-card {
  max-width: 90%;
  background-color: dodgerblue;
}
