.content-card {
  max-width: 400px;
  font-family: Roboto, sans-serif;
  margin: 5px auto 5px auto;
}

.comment-card {
  background-color: forestgreen;
}

.comment-card-title {
  font-size: medium;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-style: italic;
}

.blog-card-title {
  font-family: Roboto, sans-serif;
  font-size: x-large;
}

.blog-card {
  max-width: 90%;
  background-color: dodgerblue;
}
