/* You can add global styles to this file, and also import other style files */
header {
  text-align: center;
  margin-bottom: 2rem;
}

header img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
}

header h3 {
  margin: 0;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

header p {
  margin: 0 auto;
  font-size: 1.15rem;
  max-width: 38ch;
  color: #9eb5b4;
}

div {
  text-align: center;
}
