html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: lightslategray;
}

.content-card {
  max-width: 400px;
  font-family: Roboto, sans-serif;
  margin: 5px auto 5px auto;
}

.content-card-title {
  font-family: Roboto, sans-serif;
}

.content-card-footer {
  padding: 8px;
}
