/* todo next: make mouse cursor a grab hand */
.blog-card {
  max-width: 400px;
  font-family: Roboto, sans-serif;
  margin-bottom: 10px;
  margin: 10px auto 10px auto;
}

.blog-card-title {
  font-family: Roboto, sans-serif;
}

.blog-card-footer {
  padding: 16px;
}

.blog-card-footer mat-chip {
  cursor: pointer;
}

.blog-card-footer mat-chip:hover,
.blog-card-footer mat-chip:focus {
  background-color: cornflowerblue;
  cursor: grab;
}
